.raw{
    margin-left: 20px;
    color: aliceblue;
}
.posters{
    height: 170px;
      display: flex;
      padding: 20px;
      overflow-x: scroll;
      overflow-y: hidden;    
   
  }
.posters::-webkit-scrollbar
{
    display: none;
}
.posters{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}
.smallposter{
    cursor: pointer;
    max-height: 135px;
    margin-right: 10px;
    
}
.posters:hover{
    transform: scale(1.04);
}
.smallposter:hover{
transform: scale(1.04);
}